<li class="header">
	<a> فهرست زیرسامانه ها</a>
</li>
<li id="filter_1" {% if active_menu == 1 %}class="active" {% else %} class="table_filter"{% endif %}>
	<a {% if active_menu != 1 %}href="#"{% endif %}>137<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_2" {% if active_menu == 2 %}class="active" {% else %} class="table_filter" {% endif %}>
    <a {% if active_menu != 2 %}href="#"{% endif %}>1888<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_3"{% if active_menu == 3 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>آموزش<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_4"{% if active_menu == 4 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 4 %}href="#"{% endif %}>ارزشیابی کارکنان<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_5"{% if active_menu == 5 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 5 %}href="#"{% endif %}>ارزشیابی مدیران<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_6"{% if active_menu == 6 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 6 %}href="#"{% endif %}>ارزشیابی عملکرد مناطق<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_7"{% if active_menu == 7 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 7 %}href="#"{% endif %}>عوارض خودرو<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_8"{% if active_menu == 8 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 8 %}href="#"{% endif %}>فنی-عمرانی<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_9"{% if active_menu == 9 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 9 %}href="#"{% endif %}>فرهنگی و اجتماعی<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_10"{% if active_menu == 10 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 10 %}href="#"{% endif %}>گردشگری<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_11"{% if active_menu == 11 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 11 %}href="#"{% endif %}>حفاری<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_12"{% if active_menu == 12 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 12 %}href="#"{% endif %}>خدمات شهری<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_13"{% if active_menu == 13 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 13 %}href="#"{% endif %}>ماده 100<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_14"{% if active_menu == 14 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 14 %}href="#"{% endif %}>مالی<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_15"{% if active_menu == 15 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 15 %}href="#"{% endif %}>معاینه فنی<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_16"{% if active_menu == 16 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 16 %}href="#"{% endif %}>مهندسین ناظر<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_17"{% if active_menu == 17 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 17 %}href="#"{% endif %}>بهشت زهرا<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_18"{% if active_menu == 18 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 18 %}href="#"{% endif %}>نذر فرهنگی <i class="icon-chevron-left"></i></a>
</li>
<li id="filter_19"{% if active_menu == 19 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 19 %}href="#"{% endif %}>عملیات فنی-عمرانی <i class="icon-chevron-left"></i></a>
</li>
<li id="filter_20"{% if active_menu == 20 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 20 %}href="#"{% endif %}>پرسنلی<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_21"{% if active_menu == 21 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 21 %}href="#"{% endif %}>سنجش عدالت <i class="icon-chevron-left"></i></a>
</li>
<li id="filter_22"{% if active_menu == 22 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 22 %}href="#"{% endif %}>شهرسازی <i class="icon-chevron-left"></i></a>
</li>
<li id="filter_23"{% if active_menu == 23 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 23 %}href="#"{% endif %}>تاکسی رانی <i class="icon-chevron-left"></i></a>
</li>
<li id="filter_24"{% if active_menu == 24 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 24 %}href="#"{% endif %}>طرح ترافیک<i class="icon-chevron-left"></i></a>
</li>
<li id="filter_25"{% if active_menu == 25 %}class="active"{% else %} class="table_filter"{% endif %}>
    <a {% if active_menu != 25 %}href="#"{% endif %}>نان سرپرست خانوار  <i class="icon-chevron-left"></i></a>
</li>


