<li class="header">
	<a> فهرست زیرسامانه ها</a>
</li>
<li {% if active_menu == 1 %}class="active"{% endif %}>
	<a {% if active_menu != 1 %}href="#"{% endif %}>137<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 2 %}class="active"{% endif %}>
    <a {% if active_menu != 2 %}href="#"{% endif %}>1888<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>آموزش<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>ارزشیابی کارکنان<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>ارزشیابی مدیران<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>ارزشیابی عملکرد مناطق<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>عوارض خودرو<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>فنی-عمرانی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>فرهنگی و اجتماعی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>گردشگری<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>حفاری<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>خدمات شهری<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>ماده 100<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>مالی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>معاینه فنی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>مهندسین ناظر<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>بهشت زهرا<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>نذر فرهنگی <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>عملیات فنی-عمرانی <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>پرسنلی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>سنجش عدالت <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>شهرسازی <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>تاکسی رانی <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>طرح ترافیک<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>نان سرپرست خانوار  <i class="icon-chevron-left"></i></a>
</li>


