{% extends "base.html" %}


{% block user_panel %}
    <form class="navbar-form pull-right" action="">
        <input type="date" name="username" class="span2" >
        <input type="date" name="password" class="span2">
        <button class="btn btn-success" id="enter">نمایش</button>
    </form>
{% endblock %}

{% block navbar %}
    <form class="navbar-search pull-left">
        <i class="icon-search"></i>
        <input type="text" class="search-query input-medium" placeholder="جستجو ...">
        <button class="btn"><i class="icon-large icon-search"></i></button>
    </form>
{% endblock %}

{% block menus %}
    {% include "_menus.html" %}

{% endblock %}