{% extends "base.html" %}


{% block user_panel %}
    <form class="navbar-form pull-right" action="">
              از تاریخ:
         <input type="date" name="سstart" class="span2">
          تا تاریخ :
        <input type="date" name="end" class="span2" >
        <button class="btn btn-success" id="enter">ورود</button>
    </form>
{% endblock %}

{% block navbar %}
    <form class="navbar-search pull-left">
        <i class="icon-search"></i>
        <input type="text" class="search-query input-medium" placeholder="جستجو ...">
        <button class="btn"><i class="icon-large icon-search"></i></button>
    </form>
{% endblock %}

{% block menus %}
    {% include "_menus.html" %}

{% endblock %}