{% extends "mybase.html" %}

{% block head %}
    <title>گزارش مالی</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/ui.jqgrid.css"/>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.10.3.custom.css"/>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript">

	$(document).ready(function(){
	    jQuery("#maintable").jqGrid({
			datatype: "local",
			height: 250,
	   		colNames:['کد','بستانکاری', 'بدهکاری', 'جزئیات'],
	   		colModel:[
		   		{name:'col1',index:'col1', width:60, sorttype:"int"},		
		   		{name:'col2',index:'col2', width:60, sorttype:"int"},		
		   		{name:'col3',index:'col3', width:60, sorttype:"int"},		
		   		{name:'col4',index:'col4', width:60, sorttype:"int"}	
		   	],
	   		multiselect: true,
	   		caption: "Manipulating Array Data",
   			width: "650",
			height: "100%"
	   	});
		var mydata = [
				{col1:"1", col2:"123", col3:"سلام چزوری", col4:"4"},
				{col1:"1", col2:"123", col3:"3", col4:"4"},
				{col1:"1", col2:"123", col3:"3", col4:"4"},
				{col1:"1", col2:"123", col3:"3", col4:"4"}
		];		
		for(var i=0;i<=mydata.length;i++)
			jQuery("#maintable").jqGrid('addRowData', i+1, mydata[i]);
	    jQuery("#maintable").jqGrid('navGrid','#tablepager',{edit:false,add:false,del:false});
	});
    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header"> گزارش مالی </h2>
        <table id="maintable"> </table>
        <div id="tablepager"></div>
    </div>
{% endblock %}
{% block menus %}
    {% include "_menus.html" with active_menu=2 %}
{% endblock %}