{% extends "mybase.html" %}

{% block head %}
{#   title#}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/ui.jqgrid.css"/>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.10.3.custom.css"/>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/grid.locale-fa.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.jqGrid.min.js"></script>
    

    <script type="text/javascript">

	$(document).ready(function(){
        $(".table_filter").click(function(){
            jQuery("#maintable").jqGrid({
                url: '/tabledata/'+this.id.substr(7),
                datatype: "json",
                rowattr: "class: tableRow",
                colNames:['زیر سامانه','ETLشروع','ETLپایان','ETLموفقیت','SSASشروع','SSASپایان','SSASموفقیت'],
                colModel:[
                    {name:'name',index:'date', width:60, sorttype:'date'},
                    {name:'ETLStart',index:'exit', width:60, sorttype:'date'},
                    {name:'ETLEnd',index:'date', width:60, sorttype:'date'},
                    {name:'ETLSuccess',index:'date', width:60, sorttype:'date'},
                    {name:'SSASStart',index:'date', width:60, sorttype:'date'},
                    {name:'SSASEnd',index:'date', width:60, sorttype:'date'},
                    {name:'SSASSuccess',index:'date', width:60, sorttype:'date'}

                ],
{#                multiselect: true,#}
                caption: "",
                width: "735",
                height: "100%",
                pager: "tablepager",
                success: function(){

                    console.log("SUCCESS");
                }
            });


        });


	    // jQuery("#maintable").jqGrid('navGrid','#tablepager',{edit:false,add:false,del:false});
	});
    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header"> گزارش </h2>
        <table id="maintable">  </table>
        <div id="tablepager"></div>
    </div>
{% endblock %}
{% block menus %}
    {% include "_menus.html" with active_menu=2 %}
{% endblock %}